body {
  margin: 0 !important;
  overflow: hidden;
}
@font-face {
  font-family: exo2;
  src: url("../public/fonts/Exo2-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: exo2;
  src: url("../public/fonts/Exo2-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
.css-1x96hap-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid #0066ff !important;
  width: 100%;
}
.addNewContainer {
  background-color: aliceblue;
  padding: 0 !important;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.addButton:hover {
  background: rgb(35, 98, 97);
}
.css-5rcoci-MuiStack-root {
  width: 100% !important;
}
.inputBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.containerItem {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.containerItem:hover {
  background: linear-gradient(
    135deg,
    rgb(3, 82, 81) 0%,
    rgba(0, 149, 146, 1) 100%
  ) !important;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}
.addContainer{
  padding: 0 !important;
}
.MuiBox-root css-1i43dhb {
  padding: 0 !important;
  margin-top: 40px !important;
}